BODY {
  font-family: 'PT Serif', serif;
}


.container {
  text-align:center;
}

p{
  text-align:left;
  line-height:180%;
}

.navbar {
  font-family: 'Montserrat', sans-serif;

}

.nav-logo {
  color: white;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;

}

.red {
  color:red;
}

.background {
background-color: #ADD8E6;

}

.bg-dark {
background: black !important;

}

/*SplashImage*/

.hero-container{
  position:relative;
  text-align:center;
  color:white;
}

.hero-image{
  width:100%;
}

.overlay{
  position:absolute;
  width: 100%;
  top:20%;
  background:#000;
  opacity:.7;
}

.hed {
  font-size:3em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.hero-hed {
  padding-top: 10px;
  margin:0 auto;
  font-size: 6em;
  font-family: 'Playfair Display',serif;
  padding-bottom:10px;
  color:#fff;
}

.hero-sub {
  font-family: 'Montserrat';
  font-size:.25em;
}


.byline {
  font-size:1em;
  text-transform:uppercase;
  margin-top:-10px;
  font-family: 'Montserrat', sans-serif;

}

.chapter-head {
  font-size:2em;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
  font-weight:700;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
  height:100%;
}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  height: 100%
  font-family: 'Montserrat', sans-serif;
  color:#999;
}

.footer {
  background: #000;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
}

.footer p {
  font-family: 'Montserrat', sans-serif;
  color: #fff
}

.quote
{
  font-family: 'Montserrat', sans-serif;
  color: #800080;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-attribution {
  font-size: .5em;
  color: #000;
  font-weight:100;
  font-style: italic;
}

.contributed {
  font-style: italic;
}

.sidebar {
  color: purple;
  border-style: dotted;
  padding: 20px;

}

a:link {
    color: #ff0000;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:visited {
    color: #ff00ff;
}

a:hover {
    color: #00ff00;
    border-bottom: none;

@media(max-width:650px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .chapter-head {
    font-size:1.25em;

  }

  .hed {
    font-size:2em;
  }

  .hero-hed {
    font-size:1.5em;
  }

}
