.pagetopper {
  width:100%;

}

.sectionheader {
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #b22222;
}

body {
  background-color: #ffa07a;

}

.headline {
  font-size: 3em;
  font-weight: 700;
  color: #b22222;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.byline {
  font-size:1.5em;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-style: italic;

}

.authordate {
  font-size: 1em;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  color: #b22222;

}


p {
  font-family: 'Helvetica', sans-serif;
  line-height: 100%;
}

.quote {
  font-family: 'Helvetica', sans-serif;
  color: black;
  font-size: 3em;
  font-weight: 400;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
}

.regularphoto {
max-width: 700px;
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;

}

.caption {
  text-align: center;
  font-style: italic;

}

h1 {
  font-style: bold;

}

.container {
  width: 100%;
  max-width: 900px;

}


row {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-weight: 200;

}
